@model List<ScadaIssuesPortal.Core.Entities.ReportingCase>
@using ScadaIssuesPortal.Core;
@using ScadaIssuesPortal.Core.Entities;
@using MoreLinq.Extensions;
@{
    ViewData["Title"] = "Issues";
}

<p>
    <label><input type="checkbox" checked onchange="updateClosedIssuesDisplay()" id="closedIssuesHideChkBx"> Hide Closed Issues</label>
    <a asp-controller="ReportingCases" asp-action="Create">Report New Issue</a>
</p>

<table id="issues_table" class="display table table-bordered table-hover table-responsive-md" style="width:100%">
    <thead>
        <tr>
            <th style="max-width:2em;">
                Created
            </th>
            <th style="max-width:2em;">
                Id
            </th>
            <th style="max-width:6em;">
                Created By
            </th>
            <th style="max-width:8em;">
                @Html.DisplayNameFor(model => model[0].ConcernedAgencies)
            </th>
            <th style="max-width:2em;">
                Issue Time
            </th>
            <th>
                Issue Info
            </th>
            <th>
                Comments
            </th>
            <th style="max-width:4em;" class="openStatus">
                Status
            </th>
            <th style="max-width:4em;">
                Attachement
            </th>
            <th style="max-width:2em;">
                Last Updated
            </th>
            <th style="max-width:2em;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            CommentTag Tag = (item.Comments.Count() > 0) ? item.Comments.MaxBy(i => i.Created).First().Tag : CommentTag.Normal;
            <tr>
                <td style="max-width:2em;font-size:0.9em">
                    @item.CreatedAt.ToString("yyyy-MM-dd HH:mm")
                </td>
                <td style="max-width:2em;font-size:0.8em">
                    @item.Id
                </td>
                <td style="max-width:6em;">
                    @item.CreatedBy.UserName
                </td>
                <td style="max-width:8em;font-size:0.95em">
                    @(item.ConcernedAgencies.Count > 0 ? item.ConcernedAgencies.Select(concerned => concerned.User.UserName).Aggregate((i, j) => i + ", " + j) : "")
                </td>
                <td style="max-width:2em;font-size:0.9em">
                    @item.DownTime.ToString("yyyy-MM-dd HH:mm")
                </td>
                <td style="max-width:20em;">
                    @foreach (var caseItem in item.CaseItems)
                    {
                        <span>
                            @($"{caseItem.Question} - {caseItem.Response}")
                        </span>
                        <br>
                    }
                </td>
                <td style="max-width:20em;">
                    @foreach (var comm in item.Comments.OrderByDescending(c => c.Created))
                    {

                        <span class="comment_info">
                            @if (comm.Tag.Equals(CommentTag.Closed))
                            {
                                <span class="badge badge-danger"><i class="fas fa-ban"></i></span>
                            }
                            @if (comm.Tag.Equals(CommentTag.Reopened))
                            {
                                <span class="badge badge-success"><i class="fas fa-dot-circle"></i></span>
                            }
                        </span>
                        <span class="comment_info">
                            <b>@comm.CreatedBy.UserName</b> on @comm.Created.ToString("MMM dd, yyyy HH:mm")
                        </span>
                        <br />
                        <span style="font-size:0.9em">
                            @($"{comm.Comment.ToString()}")
                        </span>
                        <br>
                    }
                </td>
                <td style="max-width:4em;">
                    @if (Tag.Equals(CommentTag.Closed))
                    {
                        <span class="badge badge-danger">Closed</span>
                    }
                    @if (Tag.Equals(CommentTag.Reopened))
                    {
                        <span class="badge badge-success">Reopened</span>
                    }
                    @if (Tag.Equals(CommentTag.Normal))
                    {
                        <span class="badge badge-info">Open</span>
                    }
                </td>
                <td style="max-width:4em;font-size:0.9em">
                    @if (item.AttachmentPath != null)
                    {
                        <a asp-action="Attachment" asp-route-id="@item.AttachmentPath" asp-route-name="@item.AttachmentName">@item.AttachmentName</a>
                    }
                </td>
                <td style="max-width:2em;font-size:0.9em">
                    @item.UpdatedAt.ToString("yyyy-MMM-dd HH:mm")
                </td>
                <td style="max-width:2em;">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    @if (User.IsInRole(SecurityConstants.AdminRoleString))
                    {
                        <span>|</span><a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th style="max-width:2em">
                Created
            </th>
            <th style="max-width:2em;">
                Id
            </th>
            <th style="max-width:6em;">
                Created By
            </th>
            <th style="max-width:8em;">
                @Html.DisplayNameFor(model => model[0].ConcernedAgencies)
            </th>
            <th style="max-width:2em;">
                Issue Time
            </th>
            <th>
                Issue Info
            </th>
            <th>
                Comments
            </th>
            <th style="max-width:4em;">
                Status
            </th>
            <th style="max-width:2em;">
                Last Updated
            </th>
            @*<th style="max-width:2em;">Actions</th>*@
        </tr>
    </tfoot>
</table>

@section Scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/fh-3.1.4/r-2.2.2/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script>
        var issues_table;
        function updateClosedIssuesDisplay() {
            var chkBxEl = document.getElementById("closedIssuesHideChkBx");
            if (chkBxEl.checked) {
                issues_table
                    .columns('.openStatus')
                    .search('open')
                    .draw();
            } else {
                issues_table
                    .columns('.openStatus')
                    .search('')
                    .draw();
            }
        }

        $(document).ready(function () {
            // https://datatables.net/examples/api/multi_filter.html
            // Setup - add a text input to each footer cell
            $('#issues_table tfoot th').each(function () {
                //var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search" />');
            });

            issues_table = $('#issues_table').DataTable({
                fixedHeader: true,
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                "pageLength": 10,
                dom: 'Bfrtip',
                "order": [[0, "desc"]],
                buttons: ['pageLength', 'copy', 'csv', 'excel', 'pdf', 'print']
            });

            var r = $('#issues_table tfoot tr');
            r.find('th').each(function () {
                $(this).css('padding', '3px');
            });

            $('#issues_table thead').append(r);

            // Apply the filter
            // https://www.jqueryscript.net/demo/DataTables-Jquery-Table-Plugin/examples/api/multi_filter.html
            $("#issues_table thead input").on('keyup change', function () {
                issues_table
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();
            });
            updateClosedIssuesDisplay();
        });
    </script>
    <style>
        thead input {
            padding: 2px;
            box-sizing: border-box;
            font-size: small;
            width: 100%
        }

        .comment_info {
            font-size: smaller
        }
    </style>
}